<header class="header row g-0">
        <div class="col-3">
          {{> logo}}
        </div>
       
        <nav class="header_nav col-9">
           <div class="header_nav_right">
            {{> nav list=header}}
           </div>
        </nav>
</header>
 
<main class="main">
  {{#with info}}
  <info class="info">
      <h1 class="info_title">{{title}}</h1>
      <p class="info_description">{{description}}</p>
  </info>
  {{/with}}
  
    {{#with form}}
      <form class="form">
        <h2 class="form_title">{{title}}</h2>

          <div class="form_input_list">
            {{#each inputs}}
              <input type="{{type}}" placeholder="{{placeholder}}" class="form_input" name="{{name}}"
                id="form-input-{{id}}" />
            {{/each}}
          </div>

          <div class="form_checkbox">
            <input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}">
            <div></div>
            <label for="{{checkbox.name}}">{{checkbox.label}}</label>
          </div>

        <button type="submit" class="form_button">{{button}}</button>
        <p class="form_info">{{info}}</p>
      </form>
    {{/with}}

</main>
{{#with updates}}
<div class="updates">
  <h1 class="updates_title">{{title}}</h1>
  {{#each list}}
    <div class="list">
      <div class="list_nickname">{{nickname}}</div>
      <p class="list_description">{{description}}</p>
    </div>
  {{/each}}
  <a href="{{show_all.url}}" class="updates_link">{{show_all.text}}</a>
</div>
{{/with}}
{{#with expirience}}
<div class="expirience">
  
  <button class="experience_button">{{badge}}</button>
    <h2 class="experience_title">{{title}}</h2>
    {{#each list}}
    <div>
      <strong>{{name}}</strong>
      <p>{{details}}</p>
    </div>
    {{/each}}
  
</div>
{{/with}}

<footer class="row footer">
  <div class="col-3">
    {{> logo}}
      <span class="footer_copyright">Copyright 2023-2024</span>
  </div>

    {{#each footer}}
      <div class="col-3">
        <span class="footer_title">{{title}}</span>
          {{> nav list=links isVertical=true}}
      </div>
    {{/each}}
</footer>
  
